{% extends "network/layout.html" %}

{% block body %}
     {% if user.is_authenticated %}
{% load load_functions %}

<h1> Welcome to the Network!</h1>
<br>
<div id="dashboard"class="index prepost">
    <h3>New Post</h3>
    <form action="{% url 'make_post' %}" method="post">
        <div class="form-group">
        {% csrf_token %}
        {{ form }}    
        <input class="btn btn-primary" type="submit" value="Post">
        </div>
    </form>
    

</div>
    
    <div class="postcontainer">
        
        <br>
        {% for post in posts %}
        <div class="posts  {%if post.poster.id == user.id%} mypost{% endif %}" >
            <div class="posthead">
                <div class="poster">
                    <a class="postername {%if post.poster.id == user.id%} me{% endif %}" href="{% url 'user' post.poster.username %}"> {{post.poster.username.capitalize}}</a>
                    <div class="edit">
                        {% if post.poster.id == user.id %}
                        <button class="editlink btn btn-light btn-sm btn-sml" style="font-size: 12px; padding: 0px 5px;"> Edit </button>
                        {% endif %}
                        </div>
                </div><div id ="postdiv{{post.id}}" class="postcontent" data-postid="{{post.id}}">
                    <a> {{post.content}}</a>
                </div>  
                
            </div>
            <div class="postbody">

                <div class="like">
                    <span class="likebutton" data-userid="{{user.id}}" data-postid={{post.id}}> 
                        {% if user in post.id|likers %}
                        <i class="fa-solid fa-heart"></i>
                        {% else %}
                        <i class="far fa-heart"></i>
                        {% endif %}
                    </span><a class="postlikesnum" style="color: darkgrey"> {{post.likes}}</a> 
                    
                </div>

                <div class="date">
                    {{post.date}}
                </div>
                
            </div>


            
        </div>

        {% empty %}
        <h3> No Posts</h3>
        {% endfor %}

    </div>




{% if posts.has_other_pages %}
  <ul class="pagination">
    {% if posts.has_previous %}
      <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
      {% if posts.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if posts.has_next %}
      <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
    

      {% endif %}

{% endblock %}


