{% extends "layout.html" %}

{% block title %}
  Log In
{% endblock %}

{%block main%}
<h1> Welcome {{ username }}!</h1><br>

<br><br>

<h3> Search for a book</h3> <br>
<h6> Search by Title, Author, ISBN or Year</h6>
<!--<form action="/search" method="POST">
  <div class="form-group">
  <input class="form-control" autofocus type="text" <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}"> Log Out </a>
      </li> placeholder="search">
  <button type="submit" class="btn btn-primary"> search </button>
  </div>
</form>-->

{% endblock %}


