{% extends "layout.html" %}

{% block title %}
  Info
{% endblock %}

{%block main%}

{% if alert %}
<a> {{alert}} </a>
{% endif %}
<h1 id="info"> Info </h1>

<br>

<div style="margin:30px">

<b>Title:</b> {{book.title}} <br>
<b>Author:</b> {{book.author}} <br>
<b>Year:</b> {{book.year}} <br>
<b>ISBN:</b> {{book.isbn}}<br>
<a style="display: {{shows}}"><b>My Rating:</b> {{comment.rating}} <br></a>
<a style="display: {{shows}}"><b>My Comment:</b> {{comment.comment}} <br></a>
<b>No. of Ratings:</b> {{rating}}<br>
<b>Average:</b> {{avg}}<br>

</div>




<div style="display: {{display}}">
	RATE THIS BOOK
<form action="{{url_for('review', isbn=book.isbn)}}" method= "POST">
	<div class="form-group">
	<select name="rating" onchange='CheckValues(this.value);'>
		<option value="1"> 1 </option>
		<option value="2"> 2 </option>
		<option value="3"> 3 </option>
		<option value="4"> 4 </option>
		<option value="5"> 5 </option>
	</select>
	</div>
	<div class="form-group">
	<input class="form-control" type="text" name="review" placeholder="Enter a Comment">
	<button class="btn btn-primary"> Submit </button>
	</div>
</form>
</div>

{% endblock %}